.input-body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input {
  font-family: inherit;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid #263057;
  color: #263057;
  background: transparent;
}

.input.dark-mode {
  color: #eee;
  border-color: #3b336c;
}

.input:focus {
  outline: 1px solid #263057;
}

.input.dark-mode:focus {
  outline-color: #3b336c;
}

.input:focus + .placeholder,
.input:valid + .placeholder {
  display: none;
}

.placeholder {
  position: absolute;
  pointer-events: none;
  color: #263057;
}

.placeholder.dark-mode {
  color: #eee;
}
