.btn {
  font-family: inherit;
  cursor: pointer;
  color: var(--secondary-light-mode-color);
  background: var(--primary-light-mode-color);
  border: 1px solid var(--primary-light-mode-color);
  border-radius: 3px;
}

.btn.dark-mode {
  background: var(--residual-dark-mode-color);
  border-color: var(--residual-dark-mode-color);
}

.btn:active {
  color: var(--primary-light-mode-color);
  background: var(--secondary-light-mode-color);
}

.btn.dark-mode:active {
  color: var(--primary-dark-mode-color);
  background: var(--neutral-color);
}
