.total-price {
  margin-top: 1.875rem;
  padding-bottom: 15px;
}

.total-price-text {
  padding: 0.75rem;
  font-size: 1.5rem;
  text-align: center;
  word-break: break-word;
  color: #eee;
  background: linear-gradient(180deg, #273158 0%, #0c244d 100%);
  border-radius: 5px;
}

.total-price-text.dark-mode {
  background: #221c44;
}
